<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/mui.min.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/mui.min.js"></script>
    <title>子账户详情</title>
</head>
<style>
    html,
    body {
        font-size: .97rem;
    }

    .mui-pull-right {
        width: 70%;
        text-align: right;
    }

    span {
        color: #7c8886;
    }

    .button {
        padding: 20px 0;
        background-color: #fff;
    }

    #submit {
        height: 35px;
        line-height: 35px;
        width: 85%;
        font-size: 16px;
        margin: 20px auto;
        border-radius: 5px;
        color: #ffffff;
    }

    .mui-table-view-cell p {
        font-size: .96rem;
        line-height: 30px;
    }

    .mui-table-view-cell p span {
        color: #111;
    }

    .mui-table-view-cell>a:not(.mui-btn).mui-active {
        background-color: #ffffff;
    }

    label {
        font-weight: 600;
        color: #444;
    }
</style>

<body>
    <div id="child-account">
        <template>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a>
                        <span>账户名称</span>
                        <div class="mui-pull-right">{{items.account_name}}</div>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a>
                        <span>真实名字</span>
                        <div class="mui-pull-right">{{items.real_name}}</div>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a>
                        <span>联系方式</span>
                        <div class="mui-pull-right">{{items.phone_number}}</div>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a>
                        <span>拥有权限</span>
                        <div class="mui-pull-right">{{items.authority.length}} 个</div>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a>
                        <span>权限内容</span>
                        <div class="mui-input-row mui-checkbox">
                            <label>订单管理</label>
                            <input name="checkbox" v-model="au1" type="checkbox" :checked="au1">
                        </div>
                        <div class="mui-input-row mui-checkbox">
                            <label>店铺信息管理</label>
                            <input name="checkbox" v-model="au2" type="checkbox" :checked="au2">
                        </div>
                        <div class="mui-input-row mui-checkbox">
                            <label>商品管理</label>
                            <input name="checkbox" v-model="au3" type="checkbox" :checked="au3">
                        </div>
                        <div class="mui-input-row mui-checkbox">
                            <label>统计管理</label>
                            <input name="checkbox" v-model="au4" type="checkbox" :checked="au4">
                        </div>
                        <div class="mui-input-row mui-checkbox">
                            <label>子管理员管理</label>
                            <input name="checkbox" v-model="au5" type="checkbox" :checked="au5">
                        </div>
                        <div class="mui-input-row mui-checkbox">
                            <label>资金管理</label>
                            <input name="checkbox" v-model="au6" type="checkbox" :checked="au6">
                        </div>
                    </a>
                </li>
                <div class="mui-button-row button">
                    <div id="submit" @click="submit" @touchstart="back = '#05867a'" @touchend="back = '#069687'" :style="{backgroundColor:back}">确认</div>
                </div>
            </ul>
        </template>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#child-account',
            data: {
                items: '',
                back: '',
                acc: '',
                authorityList: [],
                au1: '',
                au2: '',
                au3: '',
                au4: '',
                au5: '',
                au6: ''
            },
            methods: {
                submit() {
                    //  先清空数组
                    this.authorityList = []
                    //  再往数组里面添加元素
                    this.au1 == true ? this.authorityList.push(1) : this.au1 = false
                    this.au2 == true ? this.authorityList.push(2) : this.au2 = false
                    this.au3 == true ? this.authorityList.push(3) : this.au3 = false
                    this.au4 == true ? this.authorityList.push(4) : this.au4 = false
                    this.au5 == true ? this.authorityList.push(5) : this.au5 = false
                    this.au6 == true ? this.authorityList.push(6) : this.au6 = false
                    this.SetUserAuthority()
                },
                SetUserAuthority() {
                    let self = this
                    plus.nativeUI.confirm('确认提交？', function (e) {
                        if (e.index == 0) {
                            mui.post(URL + 'SetUserAuthority', {
                                account_id: self.items.account_id,
                                authority_value: JSON.stringify(self.authorityList)
                            }, function (data) {
                                if (data.error == 0) {
                                    plus.nativeUI.toast('设置成功');
                                    mui.back()
                                } else {
                                    plus.nativeUI.toast('设置失败');
                                }
                            })
                        }
                    });
                }
            },
            filters: {
                auManage(v) {
                    if (v == 1) {
                        return '订单管理'
                    } else if (v == 2) {
                        return '店铺信息管理'
                    } else if (v == 3) {
                        return '商品管理'
                    } else if (v == 4) {
                        return '统计管理'
                    } else if (v == 5) {
                        return '子管理员管理'
                    } else if (v == 6) {
                        return '资金管理'
                    }
                }
            }
        })


        window.addEventListener('refresh', function (e) {
            let g = e.detail.goodsInfo.authority
            vm.items = e.detail.goodsInfo
            for (let i in g) {
                if (g[i].authority == 1) {
                    vm.au1 = true
                } else if (g[i].authority == 2) {
                    vm.au2 = true
                } else if (g[i].authority == 3) {
                    vm.au3 = true
                } else if (g[i].authority == 4) {
                    vm.au4 = true
                } else if (g[i].authority == 5) {
                    vm.au5 = true
                } else if (g[i].authority == 6) {
                    vm.au6 = true
                }
            }
        })

        //重写返回逻辑
        mui.back = function () {
            let c = plus.webview.getWebviewById('childAccount.html')
            mui.fire(c, 'ref');
            plus.webview.currentWebview().close("slide-out-right", 200);
        }
    </script>
</body>

</html>